body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
}
.parent-container{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
   background: #71c3e3;
    background: linear-gradient(180deg, rgba(113, 195, 227, 1) 0%, rgba(212, 242, 252, 1) 78%);
    padding: 50px 100px 50px 100px;
    border-radius: 40px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
}
.display{
    height: 150px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.login-panel{
    height: 70%;
}
.username,.psw{
    height: 40px;
    width: 400px;
    margin: 8px;
    border-radius: 20px;
    border: none;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
}
.username::placeholder{
    padding-left: 20px;
}
.psw::placeholder{
    padding-left: 20px;
}
.log-in{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
    font-weight: 600;
    transition: background-color 0.15s;
}
.log-in:hover{
    cursor: pointer;
    background-color: rgb(219, 219, 219);
}
.log-in:active{
    cursor: pointer;
    background-color: rgb(197, 197, 197);
}
.img{
    height: 150px;
}

.signup-link{
    text-decoration: none;
    align-self: center;
    justify-self: center;
    color: black;
    display: block; 
    margin: 0 auto; 
    margin-top: 30px;
    transition: color 0.15s;
    font-weight: bold;
}
.signup-link:hover{
    color: rgb(51, 51, 51);
}
input[type="text"],
input[type="password"] {
    height: 40px;
    width: 400px;
    margin: 8px;
    border-radius: 20px;
    border: none;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
}
p{
    margin: 0;
    padding: 0;
}
.un,.pw{
    margin-top: 30px;
}
