
body {
    margin: 0;
    padding: 20px 0 20px 0;
    font-family: montserrat, sans-serif;
}

.parent-container {
    display: grid;
    place-items: center; 
    min-height: 100vh; 
}

.container {
    background: linear-gradient(180deg, rgba(113, 195, 227, 1) 0%, rgba(212, 242, 252, 1) 78%);
    padding: 50px 100px; 
    border-radius: 40px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.display {
    height: 150px;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
input[type="text"],
input[type="password"],
input[type="email"] {
    height: 40px;
    width: 400px;
    margin: 8px 0; 
    border-radius: 20px;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    display: block; 
    margin-top: 15px; 
}
input::placeholder,
.address::placeholder,
.dob::placeholder {
    padding-left: 20px;
}

.sign-up {
    display: block;
    margin: 30px auto 0; 
    padding: 10px 20px; 
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    font-weight: 600;
    transition: background-color 0.15s;
}

.sign-up:hover {
    cursor: pointer;
    background-color: rgb(219, 219, 219);
}

.sign-up:active {
    cursor: pointer;
    background-color: rgb(197, 197, 197);
}

.img {
    height: 150px;}

